/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


*{
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
body{
    background-color:rgb(1, 101, 51)
  }
  div.header{
    display: flex;
  }
  .header img {
    float: left;
    width: 125px;
    height: 115px;
    margin-top: 20px;
  }
  
  .header h1 {
    position: relative;
    top: 0px;
    color:white;
    font-size:80px;
    padding-left: 2%;
    margin-bottom: 20px;
  }
  
  h2{
    text-align:center;
    color:white;
    font-size:45px;
  }
  .button {
    border-radius: 5px;
    background-color: rgb(1, 85, 51);
    border-style:solid;
    border-width:3px;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 13%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
/* FOOTER */
  .footer_section {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
    height: auto;
    padding-bottom: 90px;
    padding-left: 5%;
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fooer_logo {
    width: 100%;
    float: left;
    padding-bottom: 40px;
}
.customer_text {
    width: 100%;
    float: right;
    font-size: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.footer_lorem_text{
    width: 80%;
    float: left;
    font-size: 16px;
    color: black;
    margin-left: 0px;
}
.footer_lorem_text1 {
    width: 80%;
    float: left;
    font-size: 16px;
    color: black;
    margin-left: 0px;
    margin-bottom: 0;

}
.footer_lorem_text2 {
    width: 80%;
    float: left;
    font-size: 16px;
    color: black;
    margin-left: 0px;
    margin-bottom: 0;
    margin-top: 0;
}
.social_icon{
    width: 80%;
    float: left;
}
.social_icon ul{
    margin: 0px;
    padding: 0px;
    display: inline-flex;
}
.social_icon li {
    float: left;
    padding-right: 20px;
    padding-top: 20px;
}
.time_main {
    padding-top: 20px;
    width: 100%;
    float: left;
}

.margin_top0{
    margin-top: 90px;
}
.monday_text{
    padding-left: 58px;
}
.monday_text1{
    padding-left: 58px;
}
.monday_text2{
    padding-left: 50px;
}
.monday_text3{
    padding-left: 75px;
}
.monday_text4{
    padding-left: 55px;
}
.monday_text5{
    padding-left: 66px;
}

.margin_0{
    margin: 90px 0px;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: rgb(1, 101, 51);
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
.copyright_text a{
    color: #ffffff;
}
.copyright_text a:hover{
    color: #ef5051;
}
p.academic-section{
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
button[title]::after {
  content: attr(title);
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
}

button:hover[title]::after {
  opacity: 1;
  pointer-events: auto;
}
/* div.notes{
  display: flex;
  flex-direction: column;
   flex-wrap: wrap;
  justify-content: center;
}
div.notes button{
  width: 45%;
  justify-content: center;
  align-items: center;
}
div.notes a{
  justify-content: center;
  align-items: center;
} */
div.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 34%;
}
div.notes a button {
  width: 45%;
  justify-content: center;
  align-items: center;
}
div.notes a {
  justify-content: center;
  align-items: center;
}


@media(max-width:991px){
  .footer_section {
    width: 100%;
    float: left;
    background-color: #f2f2f2;
    height: auto;
    padding-bottom: 90px;
    padding-left: 5%;
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  div.header{
    display: block;
  }
  .header img {
    margin-left: 25%;
    width: 250px;
    height: 250px;
  }
  
  .header h1 {
    position: relative;
    top: 10px;
    color:white;
    font-size:70px;
  }
  .btn-part{
    display: flex;
    flex-direction: column;
  }
  .btn-part .button{
    width: 60%;
    margin-left: 20%;
  }
  div.notes button{
    width: 60%;
  }
}
  